*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    background-color: #43a047;
    color: white;
}
header{
    text-align: center;
}
article{
    background-color: #2e7d32;
    color: white;
    text-align: justify;
}
h1{
    font-weight: bold;
}
#titulo{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font: large;
    font-size: 50px;
}
footer{
    text-align: end;
}
#creditos{
    font-size: 12px;
}
blockquote{
    text-align: center;
    font-style: italic;
}
cite{
    font-style: oblique;
}
img{
    display: block;
    margin: auto;
}
#imagenes{
    max-width: 100%;
}
#familia{
    border: 1px solid #43a047 ;
    box-sizing: border-box;
    color: #2e7d32;
    display: inline-block;
    padding: 1em;
    vertical-align: middle;
    width: 31.9%;
}
#text{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
}
#panoramica{
    max-width: 100%;
}