body{
    background: #8e0209;
}
h1{
    color: white;
}
.row{
    margin-top: 30px;
    margin-bottom: 15px;
}
/*Estilizando los div cuya clase comience con "col"*/
div[class^="col-"]{
    border: 1px solid #bfa24d;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #f6e6b4;
}